

<div class="global">
    <h1>Add Product Type </h1>
    <mat-card class="card">
    <mat-card-header>Product Type</mat-card-header>
    <div class="vertical-align-container">
      <mat-card-content>
        <form (ngSubmit)="createProductType()" class="mat-form">
        <mat-form-field class="mat-form-field">
          <mat-label class="mat-label">Product Type Name</mat-label>
          <input matInput id="productTypeName" [(ngModel)]="productType.productTypeName" name="productTypeName" required>
        </mat-form-field><br>
        <button routerLink="/index.html" mat-raised-button class="mat-button"  color="primary">Cancel</button>&nbsp;&nbsp;
        <button type="submit" mat-raised-button class="mat-button"  color="primary">Save</button>
      </form>
      </mat-card-content>
    </div>
    
    </mat-card>
    </div>
    <router-outlet></router-outlet>
    

